body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

#search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.search-bar {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 560px;
    height: 10px;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.filters label,
.filters select,
.filters button {
    margin: 5px;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.media {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.media h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.media p {
    margin-bottom: 10px;
}

.media img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
